@import "tailwindcss";

@font-face {
    font-family: "Digital";
    src: url("../public/fonts/Technology.ttf") format("truetype");
    font-weight: 400;
    line-height: -5;
}

:root {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: oklch(21% 0.006 285.885);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer components {
    .btn-primary {
        @apply h-fit w-fit py-4 px-8 rounded-xl bg-zinc-800 shadow-xl flex items-center justify-center text-zinc-300 transition-all duration-150 hover:scale-110 active:scale-95;
    }

    .card {
        @apply p-4 rounded-2xl bg-zinc-800 shadow-2xl;
    }

    .timer-card {
        @apply h-full w-[200px] flex flex-col justify-between items-center text-9xl p-6 rounded-2xl bg-zinc-900;
    }

    .stopwatch-card {
        @apply h-full w-[200px] flex flex-col justify-center items-center text-9xl p-6 rounded-2xl bg-zinc-900;
    }

    .btn-arrow {
        @apply h-8 w-8 text-2xl;
    }
}

button {
    cursor: pointer;
}

.timer-card,
.stopwatch-card {
    font-family: Digital;
}
